<h1>Please, enter the number below. </h1>


<div class="container">
    <input type="number" ng-model="vm.model.number" class="form-control"/>
    <br/>
    <br/>
    <input type="button" class="btn btn-primary" value="Check Odd Number" ng-click="vm.checkOddNumber(vm.model.number)"/>
    <br/>
    <br/>
    <pre>{{vm.model.result}}</pre>
</div>

<br/>
<hr/>
<br/>

<div class="container">
    <h2>This is example with real data from the server (implementing $resource service):</h2>

    <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Text goes here" ng-model="vm.search"/>
    </div>

    <div class="col-md-2">
        <input type="button" class="btn btn-primary" value="Load Repos" ng-click="vm.getRepos()" />
    </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <div class="row" ng-show="vm.repos">

        <div class="col-md-6">
            <table class="table table-striped">
            <h3><b>Results:</b></h3>

                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Language
                    </th>
                    <th></th>
                </tr>


                <tr ng-repeat="r in filteredItems = ( vm.repos | filter: vm.filterRepos)">
                    <td>
                        <h4>{{r.name}}</h4> {{r.description}}
                    </td>

                    <td>
                        {{r.language}}
                    </td>

                    <td>
                        <input type="button" class="btn btn-success" value="Detail" ng-click="vm.loadDetail(r.name)" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-5" ng-show="vm.detail">
            <h3>Detail</h3>

            <div ng-show="vm.detail.error" class="alert alert-danger">
                <h3>Error</h3>
                {{vm.detail.message}}
            </div>

            <div>
                <h4>Name</h4>
                {{vm.detail.name}}
            </div>

            <div>
                <h4>Description</h4>
                {{vm.detail.description}}
            </div>

            <h4>URL</h4>
            <a ng-href="{{vm.detail.html_url}}" target="_blank">
                {{vm.detail.html_url}}
            </a>


            <h4>Raw Data</h4>
            <pre>{{vm.detail | json}}</pre>

        </div>

        <div class="col-md-12" ng-if="vm.search.length > 0 && filteredItems.length === 0">
            <div class="alert alert-danger">No results. Please, try again.</div>
        </div>
    </div>

    <p>This could be also an example with real data from the server (implementing <b>$http</b> service):</p>
    <pre>{{vm.search}}</pre>
</div>
