<div>
    <div class="vezba1">
        Today is: {{vm.currentDate | date:'EEEE'}}<br/>
        Current time is: {{vm.currentDate | date:'hh a : mm : ss'}}
    </div>
    <div class="vezba2">
        <p>Click the button to print the current page.</p>
        <button ng-click="vm.printCurrentPage()">Print the page</button>
    </div>
    <div class="vezba3">
        {{vm.int}} -> {{vm.inverseNumber}}
    </div>
</div>

<div ng-repeat="post in vm.postData.data | limitTo:10">
    <a href="#" ui-sref="post-details" ng-click="vm.loadPostDetails(post.id)"><span class="post"><h3>{{post.title}}</h3></span></a>

    <a href="#" ui-sref="author-details"><span class="author">{{post.author}}</span></a>
    <br>
    <hr>
</div>

