<br/>
<br/>
<h1 class="text-center">Post List</h1>
<br/>
<br/>
<div ng-repeat="post in vm.postData.data | filter:{title: $root.searchData} | limitTo:10 ">
    <h3>
        <a href="#" ui-sref="post-details({postId: post.id})"><span>{{post.title}}</span></a>
    </h3>

    <a href="#" ui-sref="post-author({userId: post.authorId})"><span>{{post.author}}</span></a>
    <br>
    <hr>
</div>






<br/><br/><br/>
<h2 class="text-center">More exercises:</h2>
<br/>

<h3>
    <a ui-sref="pizza">Pizza Builder (Search)</a>
    <br/>
    <a ui-sref="promises-example">Promises</a>
    <br/>
    <a ui-sref="validation">Validation</a>
</h3>
<br/> <br/> <br/>
<hr/>

<div>
    <div class="vezba1">
        Today is: {{vm.currentDate | date:'EEEE'}}<br/>
        Current time is: {{vm.currentDate | date:'hh a : mm : ss'}}
    </div>
    <div class="vezba2">
        <p>Click the button to print the current page.</p>
        <button ng-click="vm.printCurrentPage()">Print the page</button>
    </div>
    <div class="vezba3">
        Inverse number: {{vm.int}} -> {{vm.inverseNumber}}
    </div>
</div>
